<div class="container-fluid login ">
    <div class="">


        <div class="row d-flex">
            <!-- div-1 image -->
            <div class="col-md-6  mt-2">
                <h1 class="overlayy m-3">Budget </h1>
                <img class="img-fluid w-100 underlayy" src="https://i.postimg.cc/Dy9nxm6F/Rectangle-2313-1.png" alt="image">
            </div> 

            <!-- div-2 form -->
            <div class="col-md-4 mt-2 py-2 loginform ">
                <div class="frommaindiv">
                    <h2 class="heading">Login to Budget</h2>
                    <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                    <form class="fromdiv">

                        <div class="">
                            <input type="email" placeholder="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>

                        <div class="mt-0">
                            <input type="password" placeholder="password" class="form-control"
                                id="exampleInputPassword1">
                        </div>

                        <div class="mb-3 form-check ">
                            <div class="keeplogin">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label txt" for="exampleCheck1">keep me login</label>

                            </div>
                            <div class="forget">
                                <a href="" class="txt">forgot password?</a>

                            </div>

                        </div>
                        <button   type="submit" class="btn btn-primary w-100 loginbtn">Login</button>
                    </form>
                    <div class="text-center">

                        <a class="acreate text-center txt" href="">create new account?</a>
                    </div>
                </div>


            </div>

            <!--div-3  text -->
            <div class=" col-md-2 py-2  finaldiv  d-flex mt-2 ms-0">
                <small class="txt">Having Trouble? <span class="bold">Get Help</span></small>
                <!-- dropdown -->
                <div class="dropdown">
                    <button class="btn btn-light border  border-dark dropdown-toggle countrybtn" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img class="x" src="https://i.postimg.cc/CK6ycTZy/England.png"  alt="england">
                        <span class="country">ENG</span>
                    </button >
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">IND</a></li>
                        <li><a class="dropdown-item" href="#">US</a></li>
                        <li><a class="dropdown-item" href="#">PAK</a></li>
                    </ul>
                </div>
            </div>

 


        </div>


    </div>
</div>