<div class="dashboard ms-2 mt-3">
    <div class="dd">


        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"><i class="fa-solid fa-bars text-white"></i></button>

        <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Budget</h5>
                <!-- <button type="button closebtn" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
            </div>
            <div class="offcanvas-body">

                <div class="dashbody h-100 border border-primary">
                    <div>
                      <div class="btn btn-outline-light dash m-2 ">
                        <i class="fa-solid fs-6 fa-table text-dark "></i>

                            <p class="ddd mt-3 ms-2">Dashboard</p>
                      </div>
                        <button type="button " class="btn-close closebtn" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    
                    <div class="ms-2">
                        <div class="sideuserinfo">
                            <img class="sidebarimg" src="https://i.postimg.cc/d3QR6YXT/Ellipse-151.png" alt="">
                            <div class="ms-3">
                                <p class="sidename ">Catherine</p>
                                <p class="sidenumber mt-0">+91 9876543210</p>
                            </div>


                        </div>

                        <div class="logoutdiv text-center">
                            <i class="fa-solid fa-right-from-bracket m-3"></i> logout

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- main -->
        <div class="main">
            <h1 class="dhead">Dashboard</h1>
            <p class="dp">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="information p-1">
                <i class="fa-solid fs-5 fa-circle-info me-2"></i>
                <small class="me-2 ds">You Have</small>
                <strong class="me-2 ds">You Have 32 Support Request Pending for  Response</strong>
                <a class="me-2 viewmain ds" href="">View</a>
            </div>
        </div>


        <!-- card -->
        <div class="cards  d-flex">

            <!-- card1 -->
            <div class="card c  mb-3  bluecard m-2" style="max-width: 18rem;">

                <div class="card-body">
                    <p class="card-title">Total Users</p>
                    <h1 class="card-text">1,567</h1>
                    <div>
                        <span class="cardspan p-1">2.36% <i class="fa-solid fa-arrow-up icard"></i> </span> Since last month
                    </div>
                </div>
            </div>

            <!-- card2 -->
            <div class="card  mb-3 greencard m-2" style="max-width: 18rem;">

                <div class="card-body">
                    <p class="card-title">Savings Account</p>
                    <h1 class="card-text">1500</h1>
                    <div>
                        <span class="cardspan p-1">2.36% <i class="fa-solid fa-arrow-up icard"></i> </span> Since last month
                    </div>
                </div>
            </div>

            <!-- card3 -->
            <div class="card  mb-3 bluecard m-2" style="max-width: 18rem;">

                <div class="card-body">
                    <p class="card-title">Savings Account</p>
                    <h1 class="card-text">1500</h1>
                    <div >
                        <span class="cardspan p-1">2.36% <i class="fa-solid fa-arrow-up icard"></i> </span> Since last month
                    </div>
                </div>
            </div>

            <!-- card4 -->
            <div class="card  mb-3 greencard m-2 " style="max-width: 18rem;">

                <div class="card-body">
                    <p class="card-title">Savings Account</p>
                    <h1 class="card-text">1500</h1>
                    <div>
                        <span class="cardspan p-1">2.36% <i class="fa-solid fa-arrow-up icard"></i> </span> Since last month
                    </div>
                </div>
            </div>


        </div>


        <h2>Recently Active Users</h2>

        <!-- table -->
        <!-- <div class="container-fluid"> -->
           

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            USER ID/NAME
                        </th>
                        <th scope="col">PHONE NUMBER</th>
                        <th scope="col">TRANSACTION CATOGORY</th>
                        <th scope="col">TRANSACTION AMOUNT</th>
                        <th scope="col">ACCOUNT TYPE</th>
                        <th scope="col">BALANCE AMOUNT</th>
                        <th class="viewth" >view</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <span>Monicca James</span> <br><span class="id">ID 123456789</span>
                        </td>
                        <td >+91 9876543210</td>
                        <td>Income
                            <br>
                            Salary
                        </td>
                        <td class="b">$200</td>
                        <td>Savings </td>
                        <td class="b">$6000</td>
                        <td class="view"><a href="">view</a></td>
                    </tr>


                    <tr>
                        <td>
                           <span> Samantha </span><br><span class="id">ID 123456789</span>
                        </td>
                        <td>+91 9876543210</td>
                        <td>Income
                            <br>
                            Salary
                        </td>
                        <td class="b">$200</td>
                        <td>Savings </td>
                        <td class="b">$6000</td>
                        <td class="view"><a href="">view</a></td>
                    </tr>

                    <tr>
                        <td>
                            <span>Catherine</span> <br><span class="id">ID 123456789</span>
                        </td>
                        <td>+91 9876543210</td>
                        <td>Income
                            <br>
                            Salary
                        </td>
                        <td class="b">$200</td>
                        <td>Savings </td>
                        <td class="b">$6000</td>
                        <td class="view"><a href="">view</a></td>
                    </tr>


                    <tr>
                        <td>
                            <span>Monicca James </span><br><span class="id">ID 123456789</span>
                        </td>
                        <td>+91 9876543210</td>
                        <td>Income
                            <br>
                            Salary
                        </td>
                        <td class="b">$200</td>
                        <td>Savings </td>
                        <td class="b">$6000</td>
                        <td class="view"><a href="">view</a></td>
                    </tr>



                    <tr>
                        <td>
                           <span> Ileana Sam</span> <br><span class="id">ID 123456789</span>
                        </td>
                        <td>+91 9876543210</td>
                        <td>Income
                            <br>
                            Salary
                        </td>
                        <td class="b">$200</td>
                        <td>Savings </td>
                        <td class="b">$6000</td>
                        <td class="view"><a href="">view</a></td>
                    </tr>

                </tbody>
            </table>









            <button class="btn btn-outline-dark viewallbtn"> view all</button>
        <!-- </div> -->


    </div>

</div>